body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  background: #eee;
}

ul,
li {
  list-style: none;
  text-decoration: none !important;
  padding-left: 0 !important;
}

.row {
  position: relative;
  width: 100%;
}

.effective {
  display: flex;
  align-items: center;
  background: url("https://www.therowhouse.com/hubfs/ANGEL.WHYROW.BENEFITS/WHY.ROW.BENEFITS.1600X1067.png")
    0 0 / cover no-repeat;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.3);
  background-position: 0;
  position: relative;
  top: 105px;
  height: 60vh;
}

.effective .row {
  justify-content: flex-start;
}
.effective__content {
  margin-left: 180px;
  width: 70%;
}

.effective__text {
  font-size: 20px;
}

.advantages__content {
  margin-right: 30px;
  width: 90%;
}

.advantages__picture {
  object-fit: fill;
}
