body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
}

a {
  color: black !important;
}

ul,
li {
  list-style: none;
  text-decoration: none !important;
  padding-left: 0 !important;
}
.navigation {
  position: fixed;
  width: 100%;
}
.navigation {
  z-index: 3123123;
  padding: 30px 0;
}

.main__image img {
  max-width: 100px;
  position: relative;
  top: 10%;
}

.active::after {
  display: block;
  content: " ";
  position: relative;
  top: 20px;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 174, 0);
}

.nav__item {
  font-size: 15px;
  text-align: center;
}
.nav__item::after {
  display: block;
  content: " ";
  position: relative;
  top: 20px;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 174, 0);
  transform: scale(0);
  transition: all 0.3s;
  margin: 0 auto;
}
.nav__item:hover::after {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s;
}
.nav__button,
.studio__btn,
.first__btn,
.book__btn,
.all__btn {
  border: none;
  border-radius: 0;
  color: black;
  font-weight: bold;
  background: rgb(255, 217, 0);
  padding: 10px 50px 10px 50px;
  justify-self: center;
}

.location__btn {
  border: none;
  border-radius: 0;
  color: black;
  font-weight: bold;
  background: rgb(255, 255, 255);
  padding: 10px 50px 10px 50px;
  justify-self: center;
}
.nav__button:hover {
  color: black;
  background: rgb(235, 192, 0);
}

.studio {
  background: url("https://www.therowhouse.com/hubfs/RH%20website%20images/v1-01.png")
    0 0 / 100% 100% no-repeat;
  position: relative;
  top: 104px;
  height: 60vh;
  display: flex;
  align-items: center;
  z-index: 4;
}

.studio__picture img {
  object-fit: cover;
}

.first__container {
  padding: 250px 0 150px 0 !important;
}

.first__content {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.first__header::after,
.workout__header::after {
  display: block;
  content: " ";
  position: relative;
  top: -30px;
  width: 5%;
  height: 7px;
  background-color: rgb(255, 174, 0);
  margin: 0 auto;
}

.first__text {
  font-size: 20px;
}
.near {
  background: url(https://www.therowhouse.com/hubfs/rowhouse.com/jpg/Home/home_page_findrowhouse_desktop.jpg)
    0 0/100% 100% no-repeat !important;
}

.near__container {
  position: relative;
  z-index: 321321;
}

.hint p {
  font-size: 12px;
}

.near__header {
  letter-spacing: -1px;
}
.near__text {
  margin: 0 auto;
  width: 50%;
  font-size: 20px;
}

svg {
  position: absolute;
  top: 2100px;
  z-index: 1;
}

.workout__content {
  position: relative;
  z-index: 2131;
}

.workout__text {
  width: 60%;
  margin: 0 auto;
  font-size: 20px;
}

.logo__image {
  flex: 0 0 150px;
  margin: 10px;
}

.connect__container {
  padding: 50px 0;
}
.social__icons {
  font-size: 23px;
}
.connect__input {
  border: 1px solid black;
}
.connect__btn {
  border-radius: 0;
  border: 1px solid black;
  position: relative;
  top: -38px;
  left: 95%;
}
.pages {
  background: #243746;
}
.first__row::after {
  position: relative;
  bottom: -16px;
  margin: 0 auto;
  display: block;
  content: " ";
  height: 1px;
  width: 100%;
  background-color: white;
}
.pages__container {
  padding: 100px 0 40px 0;
}

.pages__container a:hover {
  color: #243746 !important;
  transition: all 0.4s;
}
.pages__container a {
  color: white;
  transition: all 0.3s;
}

/* BOOTSTRAP */

.container {
  padding: 150px 0;
}
.form-floating {
  color: grey;
}
.btn-warning {
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-hover-border-color: none;
}

.form-control {
  border-radius: 0;
}

.color1 {
  background: #eee;
}
